@import 'base/variables';

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: $primaryColor;
    color: $textColor;
}

header{
    height: 290px;
    overflow: hidden;
    width: 100%;
    position: relative;
    background: $primaryColor;

    &:after{
        content: "";
        background-image: url('../img/header-bg.png');
        background-size: cover;
        background-position-y: 0%;
        background-repeat: no-repeat;
        opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: 0;
    }
    
    div.me-img{
        background-image: url('../img/me.jpg');
        background-size: cover;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 3px solid $secondaryColor;
        margin: 20px auto;
        position: relative;
        z-index: 3;
        margin-bottom: -30px;

    }

    div.me-info{
        display: block;
        overflow: auto;
        position: relative;
        text-align: center;
        z-index: 2;
        background: rgba(black, .5);
        padding: 40px 20px 500px 20px;
    
        span.me-name{
            font-size: 1.8em;
            display: block;
            font-weight: 300;
            width: fit-content;
            margin: 0 auto;
            border-bottom: solid 1px rgba($secondaryColor, .4);
        }

        span.me-title{
            font-size: 1.4em;
            display: block;
            font-weight: 300;
        }

        span.me-university{
            font-size: .9em;
            display: block;
            font-weight: normal;
            color: rgba($textColor, .8);
        }

        span.me-university-address{
            font-size: .7em;
            display: block;
            font-weight: normal;
            text-transform: uppercase;
            color: rgba($textColor, .5);
        }

        a{
            color: $textColor;

            i{
                margin-top: 15px;
                margin-right: 5px;
            }
        }

        span{
            margin-bottom: 5px;
        }
    }
}

// nav.main-menu{
//     position: relative;
//     z-index: 2;
//     text-align: center;
//     ul{
//         padding: 0;
//         margin: 20px 0;
//         li{
//             display: inline-block;
//             padding-right: 20px;

//             a{
//                 color: $textColor;
//                 text-decoration: none;
//                 font-weight: 500;
//             }
//         }
//     }
// }

section{
    overflow: auto;
    
    &:nth-child(2n){
        background: $secondaryColor;
    }

    h2:first-child{
        font-weight: 300;
        font-size: 2em;
        text-align: center;
        margin: 0;
        padding: 30px 0;
    }

}

section.services{
    ul{
        margin: 0px 20px 20px 20px;
        
        li{
            margin-top: 10px;
        }
    }

}

section.portfolio{
    div.project{
        width: 90%;
        margin: auto;
        margin-bottom: 20px;


        img{
            width: 100%;
        }

        h3{
            margin: -5px 0 0 0;
            padding: 10px;
            background: rgba(black, .3);
            text-align: center;
            font-style: italic;
        }

        div.project-description{
            background: rgba(black, .2);
            font-weight: 300;
            padding: 20px;
            
            p{
                margin: 0;
                text-align: justify;
                justify-content: start;
            }
        }

    }
}

section.contact{
    padding-bottom: 30px;
    text-align: center;
    text-transform: uppercase;

    h3.map-icon{
        margin: 0;
        color: rgba($textColor, .7);
    }

    p.me-address{
        color: rgba($textColor, .3);
    }

    p.question{
        color: rgba($textColor, .2);
    }

    p.me-email{
        text-transform: lowercase;
    }

    a{
        color: $textColor;
        text-decoration: none;

        &.just-icon{
            color: rgba($textColor, .5);
            margin-right: 5px;

            &:hover{
                color: $textColor;
            }
        }
    }

    hr{
        border: solid 1px rgba($textColor, .05);
    }
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}